<!DOCTYPE html>
<html>
	<head>
		<title>Secrets</title>
	</head>
	<body>
		<h1>Welcome, {{ current_user.first_name }}</h1>
		<form action="posts" method="post">
			{% csrf_token %}
			<textarea name="secret" placeholder="Your secret here" rows="6" cols="50"></textarea>
			<input type="submit" value="Post"/>
		</form>
		{% for secret in secrets %}
			<p>{{ secret.content }}</p> 
			<p>{{ secret.created_at }}</p>
			<!-- <p>{{secret.user.id}}</p> -->
			<p>Number of likes: {{ secret.num_likes }}</p>

			{% if current_user.id == secret.user.id %}
			<form action="{% url 'delete_secret' id=secret.id %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Delete">
			</form>
			{% elif user not in secret.liked_by.all %}
			<form action="{% url 'likes' id=secret.id %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Like">
			</form>
			{% endif %}
			<hr>
		{% endfor %}
		<a href="{% url 'most_popular' %}">Most Popular Secrets</a>
		<a href="{% url 'register' %}">Logout</a>
	</body>
</html>