<!DOCTYPE html>
<html>
	<head>
		<title>Wall</title>
	</head>
	<body>
		<h1>The Wall</h1>

		<h3>Log In</h3>
		<form action='/log_in' method='post'>
			{% csrf_token %}
			<label>Email: </label>
			<input type="email" name="email"/>
			<label>Password: </label>
			<input type="password" name="password"/>
			<input type="submit" value='Login'>
		</form>
		
		<h3>Register</h3>
		<form action='/register' method='post'>
			{% csrf_token %}
			<label>First Name: </label>
			<input type="text" name="first_name"/>
			<label>Last Name: </label>
			<input type="text" name="last_name"/>
			<label>Email: </label>
			<input type="email" name="email"/>
			<label>Password: </label>
			<input type="password" name="password"/>
			<label>Confirm Password: </label>
			<input type="password" name="confirm_password"/>
			<input type="submit" value='Register'>
		</form>
	</body>
</html>