<!DOCTYPE html>
<html lang="en">
<head>
    <title>Make an Appointment</title>
</head>
<body>
    <h1>Schedule an Appointment</h1>

    {% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
    {% endfor %}
    {% endif %}

    <form action='/schedule' method='post'>
        {% csrf_token %}
        <input type='date' name='date'>
        <br>
        <br>
        <input type='time' name='time'>
        <br>
        <br>
        <input type='submit' value='Submit'>
    </form>

</body>
</html>
